##
## the Page part of the standard view, with page navigation
##
<!-- START VM includePageWithNav.vm -->

    <div id="pageBody">
    
    #if ( $sitePages.pageNavToolsCount > 1 || ! $sitePages.pageMaxIfSingle )

        #parse("/vm/morpheus/includePageNav.vm")

    #else 

        <!-- no page nav requested -->

    #end ## END of IF ( $sitePages.pageNavToolsCount > 1 || ! $sitePages.pageMaxIfSingle )

    <div class="Mrphs-pagebody">
        <header class="Mrphs-siteHierarchy">
            #parse("/vm/morpheus/snippets/siteStatus-snippet.vm")

            #foreach( $page in $sitePages.pageNavTools )
                #if (${page.current})
                <a href="${page.pageResetUrl}" title="$rloader.sit_reset" class="Mrphs-hierarchy-item Mrphs-hierarchy--toolName">
                    <span class="Mrphs-breadcrumb--reset-icon icon-sakai fa fa-share" aria-hidden="true"></span>
                    <span class="Mrphs-breadcrumb--icon ${page.menuClass} $!{page.menuClassOverride}"></span>
                    <span>${page.pageTitle}</span>
                </a>
                #end
            #end
        </header>
       
        #parse("/vm/morpheus/includePageBody.vm")
        
        #parse("/vm/morpheus/includeFooter.vm")

    </div>
    
    </div>
    

</div>

    
<!-- END VM includePageWithNav.vm -->
