/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "morpheus-nyu"; // This is used for bootstrap font behaviour.

$break-small-end: 	800px;
$break-medium-end: 	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "nyu_fonts.css";

//Typography variables
$font-family: "Helvetica Neue", Arial, sans-serif;
$default-font-size: 14px;
$default-font-weight: 400;
$header-font-family: $font-family;
$header-font-weight: 700;

/* Color palette */
$background-color:                      #FFFFFF;
$background-color-secondary:            #57068C;

$primary-color:                         #2A94C0;
$secondary-color:                       #F00;
$alt-colour:                            #d36f00;

$text-color:                            #212121;

$portal-background-color:               #F6F6F6;

$tool-background-color:                                          $background-color;
$tool-menu-background-color:                                     #F6F6F6;
$tool-menu-color:                                                #424242;
$tool-tab-background-color:                                      #F6F6F6;
$tool-border-color:                                              #F0F0F0;
$tool-tab-active-background-color:                               $background-color;
$tool-tab-active-border-color:                                   $background-color;
$tool-menu-hover-color:                                          $tool-background-color;
$tool-menu-hover-background-color:                               $primary-color;
$tool-menu-current-background-color:                             $background-color;
$tool-menu-current-color:                                        $primary-color;
$tool-menu-current-border-color:                                 $primary-color;
$tool-sub-menu-border-color:                                     lighten( $text-color, 5% );
$tool-sub-menu-background-color:                                 lighten( $text-color, 5% );
$tool-sub-menu-hover-background-color:                           $primary-color;
$tool-sub-menu-hover-color:                                      $tool-menu-color;
$tool-sub-menu-current-color:                                    $primary-color;
$tool-sub-menu-current-background-color:                         $background-color;
$tool-sub-menu-current-hover-color:                              $tool-menu-color;
$tool-sub-menu-current-hover-background-color:                   $background-color;

$main-content-background: #FFFFFF;
$top-header-background: $background-color-secondary;
$sites-nav-background: #F6F6F6;

$breadcrumbs-color:                     $text-color;
$breadcrumbs-tool-color:                #185878;
$breadcrumbs-hover-color:               #0F4461;

/* Link colors */
$link-color: #3698DB;
$link-active-color: #3698DB;
$link-hover-color: #3698DB;
$link-background-color: transparent;
$link-active-background-color: transparent;
$link-hover-background-color: transparent;

/* Linknav button colors */
$button-text-color:	 #777;
$button-border-color: #C0C0C0;
$button-background-color: #F0F0F0;
$button-background-secondary-color: #FFF;
/* General button colors */
$button-color-text-color: #FFF;
$button-color-border-color: #4a8db3;
$button-color-background-color: $primary-color;
$button-color-background-secondary-color: #276488;
/* ///////////// */

$info-color:                $primary-color;
$info-background-color:     lighten($primary-color, 45%);
$ok-color:                  #3c763d;
$ok-background-color:        lighten($ok-color, 45%);
$warn-background-color:     #F6ECB7;
$warn-color:                darken($warn-color, 35%);
$error-background-color:    #f2dede;
$error-color:               darken($error-color, 30%);

$swapped-view-primary: 		 #bf360c;
$swapped-view-text-color:	 #414141;

/* This is the gradient in the header of the page */
$header-gradient-a: #EEE8F4;
$header-gradient-b: #FCEDE6;
$header-gradient-c: #EEE8F4;
$header-gradient-d: #EEE8F4;

/* Main Menu */
$header-size : 3.8em;
$sites-nav-menu-item-background: #EBEBEB;
$sites-nav-menu-item-color: $text-color;
$sites-nav-menu-item-color-hover: $link-hover-color;
$sites-nav-menu-item-border: 1px solid #DDDDDD;
$sites-nav-menu-item-selected-background: $primary-color;
$sites-nav-menu-item-selected-color: $background-color;
$sites-nav-menu-item-selected-border: none;
$site-name-my-workspace-background: $sites-nav-menu-item-background;
$site-name-my-workspace-color: $text-color;
$sites-nav-submenu-background: $sites-nav-menu-item-background;
$sites-nav-submenu-item-background: $sites-nav-menu-item-background;
$sites-nav-submenu-item-color: $sites-nav-menu-item-color;
$sites-nav-submenu-item-border: none;
$sites-nav-submenu-item-background-hover: $sites-nav-menu-item-background;
$sites-nav-submenu-item-color-hover: $sites-nav-menu-item-color-hover;
$sites-nav-submenu-item-border-hover: none;
$sites-nav-submenu-item-border: none;
$sites-nav-submenu-selected-background: $sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-background: $sites-nav-menu-item-selected-background;
$sites-nav-submenu-item-selected-color: $sites-nav-menu-item-selected-color;
$sites-nav-submenu-item-selected-border: none;

/* Tool Menu */
$tool-menu-width: 7.5em;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px;

/* Logo location */
$logo: 'images/nyu.png';
$logo-height: auto;
$logo-width: auto;

/* Tool icons */
$skin-with-icons: true;
$icon-size: 20px;

/* Footer */
$footer-background: #F6F6F6;
$footer-color: #414141;

/* ------------------------------------------ */
/* ------- NYU Direct Customisations -------- */
/* ------------------------------------------ */
@import "font-awesome";
@if $skin-with-icons {
  [class^="icon-nyu"],
  [class*=" icon-nyu"] {
    @extend .fa-lg;
    @extend .fa;
  }

  .icon-nyu-libraries {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e051';
    }
  }

  .icon-nyu-ls-music-resources {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e009';
    }
  }


  .icon-nyu-ls-music-resources          { @extend .fa-music; }
  .icon-nyu-mediasite-poly              { @extend .fa-film; }
  .icon-nyu-mediasite-engineering       { @extend .fa-film; }
  .icon-nyu-mediasite-stern             { @extend .fa-film; }
  .icon-nyu-mediasite-libraries         { @extend .fa-film; }
  .icon-nyu-panopto-law                 { @extend .fa-film; }
  .icon-nyu-panopto-poly                { @extend .fa-film; }
  .icon-nyu-panopto-engineering         { @extend .fa-film; }

  .icon-sakai-blogwow                   { @extend .fa-feed; }
  .icon-sakai-bbb                       {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e03C';
    }
  }
  .icon-sakai-rsf-evaluation            {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e046';
    }
  }
  .icon-sakai-scorm-tool                {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e602';
    }
  }
  .icon-sakai-scorm-singlepackage-tool  {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e602';
    }
  }
  .icon-sakai-turningtool               {
    font-family: 'nyu-classes-icons' !important;
    &:before {
      content: '\e054';
    }
  }
  .icon-sakai-groupergoogle             { @extend .fa-google; }
  .icon-sakai-groupersync               { @extend .fa-google; }
  .icon-sakai-oauth-admin               { @extend .fa-key; }
  .icon-sakai-joinable-groups           { @extend .fa-users; }
}
.#{$namespace}mainHeader{
  .#{$namespace}headerLogo{
    .#{$namespace}headerLogo--institution{
      background-image: none !important;
    }
    .#{$namespace}headerLogo--institution:before{
      font-family: 'nyu-classes-icons';
      content: '\e000';
      color: #FFFFFF;
      font-size: 70px;
      line-height: 60px;
    }
  }
}
##{$namespace}xlogin{
  top: 20% !important;
  left: calc(50% - 15em) !important;
  width: 30em !important;
  h1 {
    display: none;
  }
  .logo {
    background-image: none !important;
    background-color: $background-color-secondary !important;
    margin-bottom: 20px;
  }
  .logo:before{
    font-family: 'nyu-classes-icons';
    content: '\e000';
    color: #FFFFFF;
    font-size: 70px;
    line-height: 60px;
  }
}
@media #{$phone} {
  .#{$namespace}mainHeader{
    .#{$namespace}headerLogo{
      .#{$namespace}headerLogo--institution:before{
        font-size: 45px;
        line-height: 35px;
      }
    }
  }
}
.#{$namespace}topHeader{
  display: block !important;
}
.#{$namespace}topHeader .#{$namespace}loginNav {
  position: absolute;
  top: 0;
  right: 0;
}
.#{$namespace}siteHierarchy {
  box-shadow: none !important;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #E6E6E6;
  //box-shadow: 0 1px 2px #CCC, 0 -1px 1px #EAEAEA !important
}
.#{$namespace}mainContent{
  border-bottom: 1px solid #EEE;
}
.#{$namespace}footer {
  margin: 0 !important;
}
.#{$namespace}toolsNav__menuitem--icon {
  display: inline-block !important;
  vertical-align: 0 !important;
}
.#{$namespace}toolsNav__menuitem--title {
  width: auto !important;
  display: inline-block !important;
}
body.#{$namespace}toolMenu-collapsed #toolMenu ul li .#{$namespace}toolsNav__menuitem--title,
body.#{$namespace}toolMenu-collapsed ul#subSites ul li .#{$namespace}toolsNav__menuitem--title {
  display: none !important;
}
body.#{$namespace}toolMenu-collapsed #toolMenu ul li a,
body.#{$namespace}toolMenu-collapsed ul#subSites ul li a {
  text-align: center !important;
}
@media #{$nonPhone} {
  #toolMenuWrap {
    width: 240px !important;
    -webkit-flex-basis: 240px !important;
    flex-basis: 240px !important;
    text-align: left !important;
  }
  #toolMenuWrap .#{$namespace}collapseTools.js-toggle-nav {
    border-right-color: transparent;
    background-color: transparent;
    border-bottom-color: #F0F0F0;
  }
  //#linkNav ul.#{$namespace}sitesNav__submenu li a {
  //  border: none !important;
  //  background-color: transparent !important;
  //}
  #toolMenu ul li a,
  #subSites ul li a {
    border-left: 4px solid transparent;
    border-bottom: none!important;
  }
  #toolMenu ul li a > span,
  #subSites ul li a > span{
    vertical-align: text-top;
  }
  #toolMenu ul li,
  #subSites ul li {
    border-bottom: 1px solid #F0F0F0;
  }
  .#{$namespace}collapseTools {
    height: 30px !important;
  }
  .#{$namespace}toolsNav__menuitem--link {
    text-align: left !important;
    padding: 0.75em 0.5em !important;
  }
  #content {
    //box-shadow: inset -2px 2px 4px -2px #AAA;
    border-left: 1px solid #F0F0F0;
    // fix margin-top on content child causing margin above #content
    overflow: auto;
  }
  #toolMenu ul li.is-current,
  #subSites ul li.is-current {
    position: relative;
    margin-right: -1px;
  }
}
@media #{$phone} {
  #content {
    //box-shadow: none;
    border: none;
  }
}
/* Any cancel buttons should be styled as secondary buttons */
/* The world isn't ready for this yet...
input[type='submit'][name^='cancel'],
input[type='submit'][name^='Cancel'],
input[type='submit'][value^='cancel'],
input[type='submit'][value^='Cancel'],
input[type='button'][name^='cancel'],
input[type='button'][name^='Cancel'],
input[type='button'][value^='cancel'],
input[type='button'][value^='Cancel']{
  @extend .button;
}*/
body {
  &.#{$namespace}portalBody{
    @media #{$phone}{
      background: linear-gradient( to bottom, $header-gradient-a, $header-gradient-b, $header-gradient-c, $header-gradient-d ) !important;
    }
  }
}
// hide the directtool action
.Mrphs-toolTitleNav__link.Mrphs-toolTitleNav__link--directurl {
  display:  none !important;
}
/* SU-95 */
.time-picker {
  margin-top: 27px;
}
#bbb_container .time-picker-field {
  width: 60px !important;
}
#bbb_container .date-picker-field {
  width: 120px !important;
}
#datepick-div .datepick-header {
  height: 25px !important;
  padding: 2px 0 !important;
}
#datepick-div .datepick-new-month {
  margin-right: 4px !important;
}
#datepick-div .datepick-new-month,
#datepick-div .datepick-new-year {
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;

  background-color: white !important;
  color: #444 !important;
  border: 1px solid #888 !important;
}
#datepick-div .datepick-days-cell.datepick-current-day a {
  background-color: #15A885 !important;
  color: #FFF !important
}

/* CLASSES-1355 Show a helpful tooltip  */
span.cke_bottom {
    height: 33px;
}
span.cke_bottom:after {
    content: 'Ctrl+Right-Click to access the editor\'s context menu';
    position: absolute;
    bottom: 3px;
    left: 13px;
    text-shadow: 1px 1px 1px #FFF;
}

span.cke_bottom .cke_resizer.cke_resizer_ltr {
    position: relative;
    top: 13px;
}
