// -------------------------------------------------------------------------------------------------------------------
//  NYU variables
//   - all the NYU colors and styles in variables
// -------------------------------------------------------------------------------------------------------------------
@import "nyu/variables";

// -------------------------------------------------------------------------------------------------------------------
//  Morpheus Variable Overrides
//   - a copy of ./_defaults.scss with NYU specific changes applied
// -------------------------------------------------------------------------------------------------------------------
@import "nyu/defaults";

// --------------------------------------------------------------------------------------------------------------------
//  Extra NYU icons
//   - icon definitions for new tools and icon overrides for existing tools
// --------------------------------------------------------------------------------------------------------------------
@import "nyu/icons";

// --------------------------------------------------------------------------------------------------------------------
//  Portal
//   - portal specific customisations
// --------------------------------------------------------------------------------------------------------------------
@import "nyu/portal";

// --------------------------------------------------------------------------------------------------------------------
//  Tool
//   - tool portlet specific customisations
// --------------------------------------------------------------------------------------------------------------------
@import "nyu/tool";