<html>
<head>
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>general.html</title>
	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
	<link href="/library/skin/morpheus-nyu/tool.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<style>body { padding: 5px !important; }</style>
</head>
<body>

<p>
	The Lessons tool allows instructors to organize the various forms of content, interaction,
	and participation within their course site and present them as a series of intuitive modules,
	or lessons, that their students may follow. By aggregating the functionality and data within
	other tools into a single place, instructors may drastically simplify the tasks required of
	their students.
</p>

<p>
	For an overview of the Lessons tool and its functionality, please review the
	<a href="http://www.nyu.edu/servicelink/041231415155668" target="_blank">following article</a>.
</p>

</body>
</html>
