// -------------------------------------------------------------------------------------------------------------------
//  Buttons
// -------------------------------------------------------------------------------------------------------------------

// hide the directtool action
.#{$namespace}toolTitleNav__link.#{$namespace}toolTitleNav__link--directurl {
  display:  none !important;
}
// fix cray z-index on tool headers and buttons
.#{$namespace}toolTitleNav__button_container,
.#{$namespace}multipleTools .#{$namespace}toolTitleNav .#{$namespace}toolTitleNav__title {
  z-index: 0 !important;
}

// -------------------------------------------------------------------------------------------------------------------
//  Tool Tabs
//   - restyle tabs with blue bar for current
//   - ensure the new and help actions are rendered above the tabs
// -------------------------------------------------------------------------------------------------------------------
@media #{$nonPhone} {
  #content {
    overflow: visible !important;
  }
  .#{$namespace}toolTitleNav {
    margin-top: 0 !important;
  }
  .#{$namespace}pageColumns--single {
    .#{$namespace}toolTitleNav__button_container {
      top: -30px !important;
      right: 0 !important;
      position: absolute !important;
      float: none !important;
      left: initial !important;
    }
  }
  .#{$namespace}multipleTools {
    .#{$namespace}toolTitleNav__button_container {
      top: -4px !important;
      right: -11px !important;
    }
    .#{$namespace}pageColumns--single {
      .#{$namespace}toolTitleNav__button_container {
        top: 5px !important;
        right: 5px !important;
      }
    }
  }
  .navIntraTool {
    padding-left: 0 !important;
    padding-right: 1em !important;
    li {
      margin-right: -5px !important;

      a {
        height: $nyu-tool-tab-height;
        margin-right: 0 !important;
        font-size: $nyu-tool-tab-text-size !important;
        padding: 0 10px !important;
        line-height: $nyu-tool-tab-height;
        text-transform: $nyu-tool-tab-text-transform !important;

        &:hover {
          background-color: $nyu-tool-tab-hover-background-color !important;
          color: $nyu-tool-tab-hover-text-color !important;
          text-decoration: none !important;
          position: relative;

          &:before {
            border-top: 4px solid $nyu-tool-tab-hover-highlight-color !important;
            content: '';
            display: block;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
          }
        }
      }

      span.current {
        margin: 0 !important;
        padding: 0 10px !important;
        color: $nyu-tool-tab-active-text-color !important;
        height: $nyu-tool-tab-height + 1;
        line-height: $nyu-tool-tab-height + 1;
        font-size: $nyu-tool-tab-active-text-size !important;
        background-color: $nyu-tool-tab-active-background-color !important;
        text-transform: $nyu-tool-tab-text-transform !important;

        &:before {
          border-top: 4px solid $nyu-tool-tab-active-highlight-color !important;
          content: '';
          display: block;
          position: absolute;
          left: -1px;
          right: -1px;
          top: -1px;
        }
      }

      .formItem {
        input[type="submit"] {
          margin: 0;
        }
        &.form-inline {
          input[type="submit"] {
            margin: 0;
            height: $nyu-tool-tab-height - 6;
            padding: 0px 10px;
          }
        }
        input[type="text"] {
          height: $nyu-tool-tab-height - 2;
          margin: 0px 0 0 6px;

          &.form-control {
            height: $nyu-tool-tab-height - 6;
            margin: 0px 0 1px 6px;
          }
        }
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Content and Site Status
// -------------------------------------------------------------------------------------------------------------------
@media #{$desktop} {
  body {
    #content {
      > #siteStatus {
       display: none;
      }
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  CKEditor
// -------------------------------------------------------------------------------------------------------------------
/* CLASSES-1355 Show a helpful tooltip  */
span.cke_bottom {
    height: 33px;
}
span.cke_bottom:after {
    content: 'Ctrl+Right-Click to access the editor\'s context menu';
    position: absolute;
    bottom: 3px;
    left: 13px;
    text-shadow: 1px 1px 1px #FFF;
}

span.cke_bottom .cke_resizer.cke_resizer_ltr {
    position: relative;
    top: 13px;
}

// -------------------------------------------------------------------------------------------------------------------
//  Date Picker
// -------------------------------------------------------------------------------------------------------------------
/* SU-95 */
.time-picker {
  margin-top: 27px;
}
#bbb_container .time-picker-field {
  width: 60px !important;
}
#bbb_container .date-picker-field {
  width: 120px !important;
}
#datepick-div .datepick-header {
  height: 25px !important;
  padding: 2px 0 !important;
}
#datepick-div .datepick-new-month {
  margin-right: 4px !important;
}
#datepick-div .datepick-new-month,
#datepick-div .datepick-new-year {
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;

  background-color: white !important;
  color: #444 !important;
  border: 1px solid #888 !important;
}
#datepick-div .datepick-days-cell.datepick-current-day a {
  background-color: #15A885 !important;
  color: #FFF !important
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to Overview (synoptic tools)
// -------------------------------------------------------------------------------------------------------------------
.nyu-hide-tool-header-on-desktop {
  min-height: 10px;
  border-left: 1px solid $nyu-content-border-color;
  background: #FFFFFF;

  .#{$namespace}siteHierarchy {
    display: none !important;
  }
}

.#{$namespace}toolBody--sakai-iframe-site {
  border-bottom: none !important;
}

form[name^='announcementListForm'] .instruction {
  background-color: inherit !important;
  border: 0 !important;
}

.#{$namespace}multipleTools {
  .#{$namespace}container {
    border: 1px solid $nyu-overview-portlet-border-color;
    box-shadow: $nyu-overview-portlet-shadow;
    margin-bottom: 20px;

    &.#{$namespace}toolTitleNav.#{$namespace}container.#{$namespace}container--toolTitleNav {
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
      margin-bottom: 0;
    }

    .#{$namespace}container--toolTitleNav {
      background-color: $nyu-overview-portlet-title-background-color;
      border-bottom: 1px solid $nyu-overview-portlet-border-color;

      .#{$namespace}toolTitleNav__title {
        color: $nyu-overview-portlet-title-color !important;
        text-transform: none !important;
        font-size: $nyu-overview-portlet-title-text-size !important;
        letter-spacing: $nyu-overview-portlet-title-letter-spacing !important;
      }
    }
  }

  // exciting synoptic changes for announcements
  .#{$namespace}sakai-synoptic-announcement {
    .#{$namespace}toolTitleNav.#{$namespace}container--toolTitleNav {
        display: none;
    }
  }
  &.nyu-synoptic-announcements {
    margin: -14px -14px 10px -14px;

    .#{$namespace}toolTitleNav.#{$namespace}container.#{$namespace}container--toolTitleNav {
      background-color: $nyu-overview-portlet-title-background-color;
      border-bottom: 1px solid $nyu-overview-portlet-border-color;

      .#{$namespace}toolTitleNav__title {
        color: $nyu-overview-portlet-title-color !important;
        text-transform: none !important;
        font-size: $nyu-overview-portlet-title-text-size !important;
        letter-spacing: $nyu-overview-portlet-title-letter-spacing !important;
      }
    }

    .#{$namespace}toolTitleNav__button_container {
      font-size: inherit !important;

      > span, > span > a {
        display: inline-block;
      }
    }
  }
}
.nyu-synoptic-calendar-summary {
  .navIntraTool.actionToolbar {
    display: none !important;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Chat Room tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-chat {
    #topForm {
      margin-bottom: 1em;
    }
    .chatListHeadWrapper {
        padding: .2em 0 .2em .5em !important;
        margin: 0 0 .5em !important;
        border-bottom: 1px dotted silver;
    }
    h3.chatListHeadWrapper {
        margin-top: 0;
    }
    #chatPresenceHeadWrapper, .chatPresenceHeadWrapper {
        margin-bottom: .5em !important;
        padding: 0 0 .2em .2em !important;
        border-bottom: 1px dotted silver;
    }
    #chatListWrapper, .chatListWrapper {
        width: 100%;
        padding-bottom: .5em;
        float: left;
        margin-top: 1em !important;
    }
    .chatListMonitor {
        height: 300px;
        overflow: auto;
        overflow-y: auto;
        overflow-x: visible;
        border: none;
        /* This overflow is for Netscape*/
        overflow: -moz-scrollbars-vertical;
    }
    #chatPresenceWrapper, .chatPresenceWrapper {
        width: 16%;
        float: left;
        border: none;
        border-left: 1px dotted silver;
        min-height: 320px;
    }
    #chatList, .chatList {
        margin: 0;
        padding-left: 1.2em;
        list-style: none;
        width: 96%;
    }
    #chatList li, .chatList li {
        margin: .2em 0 0 2em;
        padding: .2em 0;
        text-indent: -3em;
        line-height: 1.2em;
    }
    #chatList li .chatDate, .chatList li .chatDate {
        font-size: .8em
    }
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Resource tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-resources {
    #showForm {
      .btn-group.btn-group-sm {
        > button {
          margin-right: 5px !important;
        }
      }
      #saveCols {
        margin-top: 10px;
      }
      th.specialLink {
        font-weight: normal !important;
      }
      button.colPicker {
        margin-left: 5px;
      }
      label[for="dropboxHighlight"] {
        padding: 0.3em 0 0.3em 0.5em;
        margin: 0;
      }
    }
    #dragDropWrapper {
      form.dropzone {
        border: 4px dashed #DBDCDE !important;
        background: none !important;
        font-size: 16px;
        min-height: 300px;
        padding: 0;
        position: relative;
  
        .dz-message {
          margin: 0;
          position: absolute;
          width: 300px;
          height: 100px;
          left: 50%;
          margin-left: -150px;
          top: 50%;
          margin-top: -50px;
  
          &:before {
            content: "Choose files to upload";
            position: absolute;
            top: 4em;
            width: 200px;
            margin-left: -100px;
            left: 50%;
            border: 1px solid #2F7FAB;
            background-color: #2F7FAB;
            color: #FFF;
            padding: 4px 8px;
          }
          &:hover:before {
            background-color: #FFF;
            color: #2F7FAB;
          }
          &:after {
            content: "or";
            position: absolute;
            top: 2em;
            left: 50%;
            width: 20px;
            margin-left: -10px;
            color: #999;
          }
        }
      }
      #fileUploaderDesc {
        display: none !important;
      }
    }
    #navigatePanelInner {
      height: 320px !important;
    }
    #addFolderForm {
      label[for^="content_"] {
        line-height: 1.8em;
      }
    }
    #detailsForm {
      h4 {
        margin-top: 32px !important;
      }
    }
  }
}


// -------------------------------------------------------------------------------------------------------------------
//  Changes to the Site Manage tool
// -------------------------------------------------------------------------------------------------------------------
body {
  .#{$namespace}sakai-siteinfo {
    // import from site
    .site-manage-import-sessions,
    .site-manage-import-other {
      display: block;
      width: 50%;
      float: left;

      @media #{$tablet} {
        width: auto;
        float: none;
      }

      label {
        font-weight: normal !important;
      }
    }
  }
  .act {
    clear: both;
  }
}

// -------------------------------------------------------------------------------------------------------------------
//  Random Bits and Bobs
// -------------------------------------------------------------------------------------------------------------------
body {
  select.form-control{
    @extend .select;
  }
}
