@font-face {
  font-family: 'nyu-classes-icons';
  src:  url('../fonts/nyu-classes-icons/nyu-classes-icons.eot?y6q5jc');
  src:  url('../fonts/nyu-classes-icons/nyu-classes-icons.eot?y6q5jc#iefix') format('embedded-opentype'),
    url('../fonts/nyu-classes-icons/nyu-classes-icons.svg?y6q5jc#nyu-classes-icons') format('svg'),
    url('../fonts/nyu-classes-icons/nyu-classes-icons.ttf?y6q5jc') format('truetype'),
    url('../fonts/nyu-classes-icons/nyu-classes-icons.woff?y6q5jc') format('woff');
  font-weight: normal;
  font-style: normal;
}