@font-face {
    font-family:"nyu-classes-icons";
    src:url(../fonts/nyu-classes-icons/nyu-classes-icons.eot);
    src:url(../fonts/nyu-classes-icons/nyu-classes-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/nyu-classes-icons/nyu-classes-icons.woff) format("woff"),url(../fonts/nyu-classes-icons/nyu-classes-icons.ttf) format("truetype"),url(../fonts/nyu-classes-icons/nyu-classes-icons.svg#nyu-classes-icons) format("svg");
    font-weight:400;
    font-style:normal
}